/* 
    Document   : styles
    Created on : Feb 18, 2013, 6:22:12 PM
    Author     : Anupama Karumudi
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image:url('../images/page-bg.png');
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%; 
    max-height: 100%;
    font-weight: bold;
}

#logo{
    background-image:url('../images/logo.png');
    width: 158px; 
    height: 75px;
    margin-top: 10px;
    margin-left:2px;
}

#header{
    background-image:url('../images/header-bg.png');
    width: 1100px; 
    height: 95px;
    overflow: hidden;
    color: white;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

#content{
    position: fixed;
    width: 1100px; 	
    top: 115px;
    left: 50%;
    margin-left: -550px;
    bottom: 20px;
    background: #fff;
    overflow: auto;
}

#app-title{
    margin-left: 100px;
    margin-top: 35px;
    font-size: 30px;
}

.container650{
    position: relative; 
    margin-top: 20px;
    margin:0 auto;
    width: 650px;
}

.title{
    margin: 15px;
    font-size: 36px;
}

.subtitle{
    margin: 3px;
    font-size: 18px;
    background-color: #4e4e4e;
    color: white;
}

thead{
    font-size: 16px;
    background-color: #306192;
    color: white;
}

.navigation{
    padding-right: 20px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.navigation:hover{
    color: #00ff00;
}

.errorMsg{
    color:red;
    font-weight:bold;
    margin: 0 auto;
}

.infoMsg{
    color:blue;
    font-weight:bold;
    margin: 0 auto;
}

 .messages {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.center-align {
    margin: 0 auto;
}

.reset-cursor {
    cursor: auto;
    cursor: pointer;
}

.calendar-icon{
    background-image:url('../images/calendarIcon.png');
    width: 20px; 
    height: 20px;
}

.present {
    background-image:url('../images/img-check.png');
    width: 16px; 
    height: 16px;
    margin: 0 auto;
}

.absent {
    background-image:url('../images/img-x.png');
    width: 16px; 
    height: 16px;
    margin: 0 auto;
}

.left25 {
    margin-left: 25px;
}

.right25 {
    margin-right: 25px;
}

.hand-cursor {
    cursor: hand;
    cursor: pointer;
}